body, html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.offset{
  margin-top: 100px;
}


.hero-image {
    background-image: url("hero_img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    position: absolute;
    top: 90%;
    left: 44%;
}

.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.header {
    overflow: hidden;
    background-color: #181c1f;
    padding: 20px 10px;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    line-height: 18px;
    border-radius: 4px;
    margin-right: 30px;
}

.header a.logo {
    font-size: 30px;
    font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}

.header a.active {
  color: #ccac55;
}

.header-right {
  float: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
  padding: 2px 16px;
}

.card_small {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card_small:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#founded_img {
  height: 200px;
  width: 300px;
}

#vehicles_img, #employee_img, #eco_img {
  height: 130px;
  width: 120px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 20px;  
}

#rnd_img {
  height: 150px;
  width: 150px;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 10px; 
}

.vision {
  padding: 50px;
  text-align: center;
  background-image: url("vision_bg.jpg");
  color: white;
  font-size: 30px;
}

#map_img {
  height: 380px;
  width: 460px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181c1f;
  color: white;
  overflow: hidden;
}

.footer i{
  float: left;
  text-align: center;
  padding: 8px;
  font-size: 15px; 
  line-height: 25px;
}

.footer span{
  float: right;
  text-align: center;
  padding-top: 8px;
  padding-right: 5px;
  font-size: 15px; 
  line-height: 25px;
}

.container {
  position: relative; 
  width:50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 32px;
  padding: 16px 32px;
}
